<table [style.width.px]="width" [style.height.px]="height">
    <thead>
        <tr>
            <th colspan="21">Calendar</th>
        </tr>
        @if (type == "full") {
            <tr>
                <td colspan="21">
                <span>
                    <button (click)="previous()"><</button>
                    <p>{{ months[month].name }}</p>
                    <button (click)="next()">></button>
                </span>
                </td>
            </tr>
        }
        <tr>
            <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
            <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
            <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
        </tr>
    </thead>
    <tbody>
        @for (row of [0,1,2]; track $index) {
            <tr [style.height.px]="innerheight">
                @for (col of [0,1,2]; track $index) {
                    <td>
                        <table>
                            <thead>
                                <tr>
                                @for (day of weeks[row * 3 + col]; track day.date) {
                                    <th [class.obscured]="!day.inMonth">{{ day.date }}</th>
                                }
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                @for (slot of weeks[row * 3 + col][0].slots; track $index) {
                                <tr>
                                    @for (day of weeks[row * 3 + col]; track day.date) {
                                    <td>
                                        @if (day.slots[$index]) {
                                            <div>{{ day.slots[$index].room }}</div>
                                        }
                                    </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <ng-content />
    </tfoot>
</table>