<table [style.width.px]="width" [style.height.px]="height">
    <thead>
        <tr>
            <th colspan="21">Calendar</th>
        </tr>

        @if (type == "full") {
            <tr>
                <td colspan="21">
                    <span>
                        <button (click)="previous()"><</button>
                        <p>{{ monthName }}</p>
                        <button (click)="next()">></button>
                    </span>
                </td>
            </tr>
        }

        <tr>
            <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
            <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
            <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
        </tr>
    </thead>

    <tbody>
        @if (errorMessage) {
            <tr>
                <td colspan="21">{{ errorMessage }}</td>
            </tr>
        } @else {
            @for (row of [0,1,2]; track $index) {
                <tr [style.height.px]="innerheight">
                    @for (col of [0,1,2]; track $index) {
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        @for (day of getWeek(row, col); track $index) {
                                            <th [class.obscured]="!day.inMonth">{{ day.date }}</th>
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (slotIndex of getMaxSlots(getWeek(row, col)); track $index) {
                                        <tr>
                                            @for (day of getWeek(row, col); track $index) {
                                                <td>
                                                    @if (day.slots[slotIndex]) {
                                                        <div>{{ day.slots[slotIndex].room }}</div>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>

    <tfoot>
        <ng-content />
    </tfoot>
</table>