header
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: var(--box-bg-color);
    border-bottom: solid var(--border-color) 1px;
}

header > span
{
    position: absolute;
    width: 420px;
    height: 70px;
    top: 10px;
    right: 10px;
    margin: 0;
}
header > span > p
{
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 70px;
    line-height: 70px;
    font-family: Calibri;
    text-align: right;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    color: var(--color);
}
header > span > img
{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: solid var(--border-color) 3px;
}

ul {
    display: block;
    position: absolute;
    top: 90px;
    right: 0;
    width: 420px;
    height: max-content;
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: var(--color);
    font-family: Calibri;
    background-color: var(--box-bg-color);
    margin: 0;
    padding: 0;
    border: solid var(--border-color) 1px;
    box-sizing: border-box;
    text-align: center;
}