table {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 800px;
    height: 550px;
    transform: translateX(-50%);
    background-color: var(--box-bg-color);
    border: solid var(--border-color) 1px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
thead {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
}

thead > tr {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    border-bottom: solid var(--border-color) 1px;
    box-sizing: border-box;
}
thead > tr:nth-child(1) > td > span {
    position: absolute;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 326px;
    box-sizing: border-box;
}
thead > tr:nth-child(1) > td > span > button {
    display: block;
    flex: 1;
    padding: 0;
    height: 33px;
    margin: auto 0;
    background-color: var(--button-bg-color);
    border-radius: 10px;
    color: var(--unmarked-color);
    border: solid var(--border-color) 1px;
    box-sizing: border-box;
    font-size: 25px;
    line-height: 33px;
    font-weight: 700;
}

thead > tr:nth-child(1) > td > span > p {
    display: block;
    flex: 4;
    margin: auto 20px;
    padding: 0;
    height: 33px;
    background-color: var(--input-bg-color);
    color: var(--color);
    border: solid var(--border-color) 1px;
    border-radius: 10px;
    font-size: 25px;
    font-family: Calibri;
    line-height: 33px;
    box-sizing: border-box;
    text-align: center;
}

thead > tr:nth-child(2) > th {
    position: relative;
    display: block;
    flex: 1;
    height: 100%;
    line-height: 40px;
    font-family: Calibri;
    font-size: 20px;
    border-right: solid var(--border-color) 1px;
    box-sizing: border-box;
    color: var(--color);
}

thead > tr:nth-child(2) > th:last-child {
    border: none;
}

tbody {
    position: relative;
    display: block;
    height: 430px;
    overflow-x: auto;
    border-bottom: solid var(--border-color) 1px;
}
tbody::-webkit-scrollbar {
    display: none;
}

tbody > tr {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
}

tbody > tr > td {
    flex: 1;
    height: 50px;
    border-right: solid var(--border-color) 1px;
}
tbody > tr > td:last-child {
    border: none;
}
tbody > tr:last-child {
    position: absolute;
    top: 0;
    height: 100%;
}
tbody > tr:last-child > td {
    height: 100%;
}

tbody > tr > td > div {
    position: relative;
    width: auto;
    margin: 1px 2px 1px 1px;
    border-radius: 10px;
    border: solid var(--border-color) 1px;
    background-color: var(--box-bg-color);
    height: 50px;
    box-sizing: border-box;
}
tbody > tr > td > div > span:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-family: Calibri;
    font-size: 15px;
    color: var(--color);
}
tbody > tr > td > div > span:last-child {
    position: absolute;
    display: flex;
    top: 23px;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-family: Calibri;
    font-size: 15px;
}
tbody > tr > td > div > span:last-child > p {
    display: block;
    position: relative;
    flex: 1;
    height: 100%;
    margin: 0;
    line-height: 25px;
    color: var(--color);
}