<app-component-page>
    @if (isLoading) {
        <p>Caricamento...</p>
    }

    @if (errorMessage) {
        <p>{{ errorMessage }}</p>
    }

    @if (!isLoading) {
        <form (ngSubmit)="applyFilters()">
            <label>filters</label>

            <span>
                <section>
                    <label for="classFilter">class</label>
                    <select id="classFilter" name="classFilter" [(ngModel)]="selectedClass">
                        <option value="">all</option>
                        @for (c of classes; track c.c) {
                            <option [value]="c.c">{{ c.c }}</option>
                        }
                    </select>
                </section>

                <section>
                    <label for="roomFilter">room</label>
                    <select id="roomFilter" name="roomFilter" [(ngModel)]="selectedRoom">
                        <option value="">all</option>
                        @for (r of rooms; track r.n) {
                            <option [value]="r.n">{{ r.n }}</option>
                        }
                    </select>
                </section>

                <section>
                    <label>hours</label>
                    <span>
                        <input type="time" name="startHour" [(ngModel)]="selectedStartHour">
                        <input type="time" name="endHour" [(ngModel)]="selectedEndHour">
                    </span>
                </section>

                <button type="submit">apply</button>
                <button type="button" (click)="resetFilters()">reset</button>
            </span>
        </form>

        <table>
            <thead>
                <tr>
                    <th>hours</th>
                    <th>classes</th>
                    <th>room</th>
                </tr>
            </thead>
            <tbody>
                @for (p of pr; track p.id) {
                    <tr (click)="openDetail(p.id)">
                        <td>{{ p.hours }}</td>
                        <td>{{ p.classes }}</td>
                        <td>{{ p.room }}</td>
                    </tr>
                }

                @if (pr.length === 0) {
                    <tr>
                        <td colspan="3">Nessun risultato trovato.</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</app-component-page>